html {
    font-size: 62.5%;
    overflow: hidden;
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    height: 100vh;
    width: 100vw;
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.app {
  // position: fixed;
  // overflow: hidden;
  // height: 100%;
}

.menu {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: white;
  border-top: 1px solid #ddd;
  height: 75px;
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
}

.fas {
  font-size: 3.2rem;
  color: #ddd;
  margin: 2rem;
}

.activity {
 background: rgb(204, 220, 204);
 overflow: scroll;
}

#mapid {
  height: calc(100vh - 76px);
}